<div class="welcome-container">
  <h1 class="welcome-title"> {{userName}}, nos alegra que estes de vuelta</h1>
  <p class="welcome-subtitle">Sistema de Monitoreo para la replicabilidad de datos basado en IoT para los Cultivos de
    Café en el Municipio de Taminango</p>
  <h2 class="steps-title">Primeros Pasos</h2>
  <div class="steps-list">
    <div class="step-item">
      <h3>1. Crear una Finca</h3>
      <p>Comienza creando una finca para gestionar tus cultivos. Proporciónanos la información básica sobre la finca.
      </p>
      <p>Esto lo puedes hacer desde el menu a la izquierda, dentro del mismo encontraras opción de finca</p>
      <a class="step-link">
        Haz click en <i class="bi bi-list"> Menu</i> para abrir el menú
      </a>
    </div>
    <div class="step-item">
      <h3>2. Añadir un Cultivo de Café</h3>
      <p>Después de crear la finca <i class="bi bi-house-door-fill"></i>, añade un cultivo de café para empezar a monitorear sus datos.</p>
      <a class="step-link">
      </a>
    </div>
  </div>

</div>